
.yellowSquare {
    width: 400px;
    height: 400px;
    text-align: center;
    background-color: #fec800;
    display: grid;
    align-items: center;
    justify-content: center;

    p {
        font-family: sans-serif;
    }
}