.card {
    text-align: center;
    perspective: 1000px; 
   width: 200px;
   height: 340px;
   border-radius: 12px;
    margin: 8px;
}

.cardInner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 12px;
}

.card:hover .cardInner {
    transform: rotateY(180deg);
}

.cardFront, .cardBack{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
}

.cardFront{
    background-color: rgb(220,220,220);
    color: black;
    img{
        width: 80%;
    }
}

.cardBack{
    transform: rotateY(180deg);
    background-color: rgb(55,55,55);
    color: white;
}